<div class="small-12 medium-4 columns text-center rating-margin">
    <div class="row">
        <h4>{{capitalize type}}</h4>
    </div>
    <div class="row">Average:  {{trimFloat average}}</div>
    <div class="row">
        <form class="rating-form">
            <div class="stars">
                <input type="radio" name="star" data-id="{{type}}" data-value="1" class="star-1" id="star1-{{type}}" />
                <label class="star-1" data-id="{{type}}"  data-value="1" for="star-1-{{type}}">1</label>
                <input type="radio" name="star" data-id="{{type}}" data-value="2" class="star-2" id="star2-{{type}}" />
                <label class="star-2" data-id="{{type}}" data-value="2"  for="star-2-{{type}}">2</label>
                <input type="radio" name="star" data-id="{{type}}" data-value="3" class="star-3" id="star3-{{type}}" />
                <label class="star-3" data-id="{{type}}" data-value="3" for="star-3-{{type}}">3</label>
                <input type="radio" name="star" data-id="{{type}}" data-value="4" class="star-4" id="star4-{{type}}" />
                <label class="star-4" data-id="{{type}}" data-value="4" for="star-4-{{type}}">4</label>
                <input type="radio" name="star" data-id="{{type}}" data-value="5" class="star-5" id="star5-{{type}}"  />
                <label class="star-5" data-id="{{type}}" data-value="5" for="star-5-{{type}}">5</label>
                <span></span>
            </div>
        </form>
    </div>
</div>
